.medium {
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    border-radius: 6px;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.big {
    text-align: center;
    font-size: 27px;
    font-family: monospace;
    border-radius: 6px;
    width: 200px;
}