.floor {
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    border-radius: 20px;
}

.yellow {
    background-color: yellow;
    width: 360px;
    height: 360px;
}

.sky {
    background-color: deepskyblue;
    width: 360px;
    height: 360px;
}

.buttonPanel {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.playerButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.cleanButton {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
